# Import Files

In [1]:
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
#library used for evalute binary classification model and useful for understanding how well a model can distinguish between two classes(+ or -) 
from sklearn.metrics import roc_curve, auc, roc_auc_score
#how well a model is performing, especially in terms of precision, recall, F1-score
from sklearn.metrics import classification_report,confusion_matrix
#precision,recall focus to understanding how well a model performs in scenarios where one class is much rarer than the other
from sklearn.metrics import average_precision_score, precision_recall_curve

In [3]:
from sklearn.model_selection import train_test_split
#for hyper parameter tuning
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
#cross validation technique use for imbalanced dataset
from sklearn.model_selection import StratifiedKFold

# import of ML Algo

In [5]:
from sklearn.linear_model import Ridge,Lasso,LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from xgboost import XGBClassifier
from xgboost import plot_importance

# Exploratory Data Analysis

In [7]:
df=pd.read_csv("creditcard2.csv")

In [9]:
df.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [11]:
df.sample(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
53894,53894,2019-02-01 22:27:09,30074693890476,fraud_Mohr-Bayer,shopping_net,4.71,Kelsey,Richards,F,889 Sarah Station Suite 624,...,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,ce0c43f079839a0179576aec31e2992b,1328135229,38.094228,-101.522246,0
150257,150257,2019-03-22 08:51:57,30238755902988,"fraud_Lind, Huel and McClure",gas_transport,67.28,Danielle,Yu,F,5395 Colon Burgs Suite 037,...,30.5920,-97.2893,1766,Press sub,1976-01-02,74188e8e3e72ffb9a07ed4ce271832cc,1332406317,31.150044,-97.194316,0
540764,540764,2019-08-19 16:35:14,38295635583927,"fraud_Klocko, Runolfsdottir and Breitenberg",health_fitness,31.60,Candice,Brown,F,9412 Harris Mews,...,33.3749,-99.8473,178,Warden/ranger,1983-06-14,22fd44fab0c62222626c05c312ae377c,1345394114,34.369506,-99.442847,0
1067784,1067784,2020-03-19 06:28:16,2720830304681674,"fraud_Schoen, Kuphal and Nitzsche",grocery_pos,189.35,Melissa,Aguilar,F,21326 Taylor Squares Suite 708,...,36.5220,-87.3490,151785,Pathologist,1974-03-28,a33c7b0d3ad24fc692efb3e9b98c1fee,1363674496,36.336278,-86.811334,0
603179,603179,2019-09-13 18:31:46,4306586894261180,"fraud_O'Connell, Botsford and Hand",home,79.44,Renee,Walls,F,86542 Jessica Fords Apt. 706,...,40.1186,-87.2602,4049,"Development worker, community",1959-10-19,b9b0a52b18e53a844ceadf5d661f9c47,1347561106,40.872188,-88.125365,0

In [18]:
df.shape

(1296675, 23)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [17]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [19]:
#check the targeted vales
df['is_fraud']. value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

In [13]:
#checking the distribution of transaction normal vs fraud in percentage
classes=df['is_fraud']. value_counts()
normal_share=classes[0]/df['is_fraud'].count()*100
fraud_share=classes[1]/df['is_fraud'].count()*100
print(normal_share)
print(fraud_share)

99.42113482561166
0.5788651743883394

In [ ]:
sns.countplot(df['cc_num'])